argparse
boto3
bs4 
json
os
pandas 
scraper 
selenium.common.exceptions 
selenium 
selenium.webdriver.chrome.options 
selenium.webdriver.common.by 
sqlalchemy 
urllib.request
uuid
webdriver_manager.chrome 